# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies (root workspace)
node_modules/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
coverage/

# next.js
/.next/
/packages/web/.next/
/packages/web/out/

# production
/packages/web/build
/packages/web/dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# fumadocs
.source

# storybook
*storybook.log
storybook-static/
/packages/web/storybook-static/

# build outputs
/packages/web/.next/
/packages/web/out/
/packages/web/build/
/packages/web/dist/
