@import "tailwindcss";
@import "fumadocs-ui/css/shadcn.css";
@import "fumadocs-ui/css/preset.css";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

.header-xl {
  font-size: 72px;
  line-height: 90px;
  letter-spacing: -0.02em;
}
.header-lg {
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.02em;
}
.header-md {
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.02em;
}
.header-sm {
  font-size: 30px;
  line-height: 38px;
}
.header-xs {
  font-size: 24px;
  line-height: 32px;
}

.paragraph-xl {
  font-size: 20px;
  line-height: 30px;
}
.paragraph-lg {
  font-size: 18px;
  line-height: 28px;
}
.paragraph-md {
  font-size: 16px;
  line-height: 24px;
}
.paragraph-sm {
  font-size: 14px;
  line-height: 20px;
}
.paragraph-xs {
  font-size: 12px;
  line-height: 18px;
}

@theme inline {
  --color-blue-primary-950: var(--blue-primary-950);
  --color-blue-primary-900: var(--blue-primary-900);
  --color-blue-primary-800: var(--blue-primary-800);
  --color-blue-primary-700: var(--blue-primary-700);
  --color-blue-primary-600: var(--blue-primary-600);
  --color-blue-primary-500: var(--blue-primary-500);
  --color-blue-primary-400: var(--blue-primary-400);
  --color-blue-primary-300: var(--blue-primary-300);
  --color-blue-primary-200: var(--blue-primary-200);
  --color-blue-primary-100: var(--blue-primary-100);
  --color-blue-primary-50: var(--blue-primary-50);

  --color-purple-secondary-800: var(--purple-secondary-800);
  --color-purple-secondary-700: var(--purple-secondary-700);
  --color-purple-secondary-600: var(--purple-secondary-600);
  --color-purple-secondary-500: var(--purple-secondary-500);
  --color-purple-secondary-400: var(--purple-secondary-400);
  --color-purple-secondary-300: var(--purple-secondary-300);
  --color-purple-secondary-200: var(--purple-secondary-200);
  --color-purple-secondary-100: var(--purple-secondary-100);
  --color-purple-secondary-50: var(--purple-secondary-50);

  --color-gray-50: var(--gray-50);
  --color-gray-100: var(--gray-100);
  --color-gray-200: var(--gray-200);
  --color-gray-300: var(--gray-300);
  --color-gray-400: var(--gray-400);
  --color-gray-500: var(--gray-500);
  --color-gray-600: var(--gray-600);
  --color-gray-700: var(--gray-700);
  --color-gray-800: var(--gray-800);
  --color-gray-850: var(--gray-850);
  --color-gray-900: var(--gray-900);
  --color-gray-950: var(--gray-950);

  --color-pink-50: var(--pink-50);
  --color-pink-100: var(--pink-100);
  --color-pink-200: var(--pink-200);
  --color-pink-300: var(--pink-300);
  --color-pink-400: var(--pink-400);
  --color-pink-500: var(--pink-500);

  --color-cyan-50: var(--cyan-50);
  --color-cyan-100: var(--cyan-100);
  --color-cyan-200: var(--cyan-200);

  --color-yellow-50: var(--yellow-50);
  --color-yellow-100: var(--yellow-100);
  --color-yellow-200: var(--yellow-200);
  --color-yellow-300: var(--yellow-300);

  --color-baby-blue-50: var(--baby-blue-50);
  --color-baby-blue-100: var(--baby-blue-100);
  --color-baby-blue-200: var(--baby-blue-200);
  --color-baby-blue-300: var(--baby-blue-300);
  --color-baby-blue-400: var(--baby-blue-400);

  --color-accent-blue-50: var(--accent-blue-50);
  --color-accent-blue-100: var(--accent-blue-100);
  --color-accent-blue-200: var(--accent-blue-200);
  --color-accent-blue-300: var(--accent-blue-300);

  --color-accent-orange-50: var(--accent-orange-50);
  --color-accent-orange-100: var(--accent-orange-100);

  --color-green-50: var(--green-50);
  --color-green-300: var(--green-300);
  --color-green-400: var(--green-400);

  --color-red-50: var(--red-50);
  --color-red-100: var(--red-100);
  --color-red-200: var(--red-200);

  --color-information-50: var(--information-50);
  --color-information-100: var(--information-100);
  --color-information-200: var(--information-200);
  --color-information-300: var(--information-300);
  --color-information-400: var(--information-400);
  --color-information-500: var(--information-500);

  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
  --color-error: var(--error);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-info: var(--info);
  --color-info-foreground: var(--info-foreground);

  --color-white: var(--white);
  --color-black: var(--black);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-surface: var(--surface);
  --color-surface-foreground: var(--surface-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --color-fd-background: var(--background);
  --color-fd-foreground: var(--foreground);
  --color-fd-muted: var(--muted);
  --color-fd-muted-foreground: var(--muted-foreground);
  --color-fd-popover: var(--popover);
  --color-fd-popover-foreground: var(--popover-foreground);
  --color-fd-card: var(--card);
  --color-fd-card-foreground: var(--card-foreground);
  --color-fd-border: var(--border);
  --color-fd-primary: var(--primary);
  --color-fd-primary-foreground: var(--primary-foreground);
  --color-fd-secondary: var(--secondary);
  --color-fd-secondary-foreground: var(--secondary-foreground);
  --color-fd-accent: var(--accent);
  --color-fd-accent-foreground: var(--accent-foreground);
  --color-fd-ring: var(--ring);

  --radius-sm: 4px;
  --radius-md: 6px;
  --radius-lg: 8px;
  --radius-xl: 12px;
  --radius-2xl: 16px;

  --shadow-xs: 0 1px 4px 0px hsl(0 0% 0% / 0.04);
  --shadow-sm: 0 4px 12px -4px hsl(0 0% 0% / 0.08);
  --shadow-md: 0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0 10px 15px -3px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0 16px 20px -5px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 20px 25px -5px hsl(0 0% 0% / 0.1);
  --shadow-3xl: 0 25px 50px -12px hsl(0 0% 0% / 0.12);

  --blur-sm: 2px;
  --blur-md: 4px;
  --blur-lg: 7px;
  --blur-xl: 9px;
}

:root {
  --background: #ffffff;
  --foreground: #000350;
  --white: #ffffff;
  --black: #000000;

  --primary: #0006b1;
  --secondary: #e6e9ff;

  --gray-50: #fcfcff;
  --gray-100: #f0f0f3;
  --gray-200: #e2e2e5;
  --gray-300: #c5c6c9;
  --gray-400: #aaabae;
  --gray-500: #8f9193;
  --gray-600: #75777a;
  --gray-700: #5d5e61;
  --gray-800: #454749;
  --gray-850: #2e3133;
  --gray-900: #191c1e;
  --gray-950: #0e0e0f;

  --pink-50: #e4e4e4;
  --pink-100: #f9a8d4;
  --pink-200: #f3a0ca;
  --pink-300: #e670ab;
  --pink-400: #d04f99;
  --pink-500: #d7488e;

  --cyan-50: #b2e1eb;
  --cyan-100: #8acfd1;
  --cyan-200: #84d2e2;

  --yellow-50: #fdf6e3;
  --yellow-100: #fdedc9;
  --yellow-200: #fbe2a7;
  --yellow-300: #facc15;

  --baby-blue-50: #91c5ff;
  --baby-blue-100: #3a81f6;
  --baby-blue-200: #2563ef;
  --baby-blue-300: #1a4eda;
  --baby-blue-400: #1f3fad;

  --accent-blue-50: #ecfeff;
  --accent-blue-100: #8acfd1;
  --accent-blue-200: #00d3ff;
  --accent-blue-300: #0092b8;

  --accent-orange-50: #fff7ed;
  --accent-orange-100: #ff6900;

  --green-50: #e6f9ee;
  --green-300: #22c55e;
  --green-400: #25c059;

  --red-50: #ffedee;
  --red-100: #f96f70;
  --red-200: #e7000b;

  --information-50: #e8f3ff;
  --information-100: #b5dcff;
  --information-200: #5bb2ff;
  --information-300: #3b82f6;
  --information-400: #1d4ed8;
  --information-500: #102a75;

  --card: #ffffff;
  --card-foreground: #00046a;
  --popover: #ffffff;
  --popover-foreground: #0b0e24;
  --primary-foreground: #ffffff;
  --secondary-foreground: #000585;
  --muted: #f9faff;
  --muted-foreground: #54588b;
  --accent: #ecfeff;
  --accent-foreground: #0092b8;
  --destructive: #e7000b;
  --destructive-foreground: #ffedee;
  --border: #e6e9ff;
  --input: #f9faff;
  --ring: #d9ddff;
  --surface: #e6e9ff;
  --surface-foreground: #0b0e24;

  --chart-1: #91c5ff;
  --chart-2: #3a81f6;
  --chart-3: #2563ef;
  --chart-4: #1a4eda;
  --chart-5: #1f3fad;

  --sidebar: #f9faff;
  --sidebar-foreground: #00046a;
  --sidebar-primary: #0006b1;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #e6e9ff;
  --sidebar-accent-foreground: #00046a;
  --sidebar-border: #e6e9ff;
  --sidebar-ring: #d9ddff;

  --success: #22c55e;
  --success-foreground: #e6f9ee;
  --warning: #ff6900;
  --warning-foreground: #fff7ed;
  --error: #e7000b;
  --info: #3b82f6;
  --info-foreground: #ffedee;
  --blue-primary-50: #f9faff;
  --blue-primary-100: #e6e9ff;
  --blue-primary-200: #d9ddff;
  --blue-primary-300: #54588b;
  --blue-primary-400: #007aff;
  --blue-primary-500: #001eff;
  --blue-primary-600: #0006b1;
  --blue-primary-700: #000585;
  --blue-primary-800: #00046a;
  --blue-primary-900: #000350;
  --blue-primary-950: #0b0e24;
  --purple-secondary-50: #fef7ff;
  --purple-secondary-100: #fdecfe;
  --purple-secondary-200: #fdddff;
  --purple-secondary-300: #eab5ed;
  --purple-secondary-400: #7a22b5;
  --purple-secondary-500: #6a0dad;
  --purple-secondary-600: #4c0b7c;
  --purple-secondary-700: #440b6d;
  --purple-secondary-800: #370958;
}

.dark {
  --background: #000000;
  --foreground: #e6e9ff;
  --white: #000000;
  --black: #ffffff;

  --primary: #007aff;
  --secondary: #000350;

  --gray-50: #0e0e0f;
  --gray-100: #191c1e;
  --gray-200: #2e3133;
  --gray-300: #454749;
  --gray-400: #5d5e61;
  --gray-500: #75777a;
  --gray-600: #8f9193;
  --gray-700: #aaabae;
  --gray-800: #c5c6c9;
  --gray-850: #e2e2e5;
  --gray-900: #f0f0f3;
  --gray-950: #fcfcff;

  --pink-50: #d7488e;
  --pink-100: #d04f99;
  --pink-200: #e670ab;
  --pink-300: #f3a0ca;
  --pink-400: #f9a8d4;
  --pink-500: #e4e4e4;

  --cyan-50: #84d2e2;
  --cyan-100: #8acfd1;
  --cyan-200: #b2e1eb;

  --yellow-50: #facc15;
  --yellow-100: #fbe2a7;
  --yellow-200: #fdedc9;
  --yellow-300: #fdf6e3;

  --baby-blue-50: #1f3fad;
  --baby-blue-100: #1a4eda;
  --baby-blue-200: #2563ef;
  --baby-blue-300: #3a81f6;
  --baby-blue-400: #91c5ff;

  --accent-blue-50: #ecfeff;
  --accent-blue-100: #8acfd1;
  --accent-blue-200: #00d3ff;
  --accent-blue-300: #0092b8;

  --accent-orange-50: #fff7ed;
  --accent-orange-100: #ff6900;

  --green-50: #25c059;
  --green-300: #22c55e;
  --green-400: #e6f9ee;

  --red-50: #e7000b;
  --red-100: #f96f70;
  --red-200: #ffedee;

  --information-50: #102a75;
  --information-100: #1d4ed8;
  --information-200: #3b82f6;
  --information-300: #5bb2ff;
  --information-400: #b5dcff;
  --information-500: #e8f3ff;

  --card: #000000;
  --card-foreground: #d9ddff;
  --popover: #0b0e24;
  --popover-foreground: #f9faff;
  --primary-foreground: #000000;
  --secondary-foreground: #54588b;
  --muted: #01022a;
  --muted-foreground: #000585;
  --accent: #ecfeff;
  --accent-foreground: #0092b8;
  --destructive: #ffedee;
  --destructive-foreground: #e7000b;
  --border: #000350;
  --input: #01022a;
  --ring: #00046a;
  --surface: #000350;
  --surface-foreground: #f9faff;

  --chart-1: #1f3fad;
  --chart-2: #1a4eda;
  --chart-3: #2563ef;
  --chart-4: #3a81f6;
  --chart-5: #91c5ff;

  --sidebar: #01022a;
  --sidebar-foreground: #d9ddff;
  --sidebar-primary: #007aff;
  --sidebar-primary-foreground: #000000;
  --sidebar-accent: #000350;
  --sidebar-accent-foreground: #d9ddff;
  --sidebar-border: #000350;
  --sidebar-ring: #00046a;

  --success: #22c55e;
  --success-foreground: #25c059;
  --warning: #ff6900;
  --warning-foreground: #fff7ed;
  --error: #ffedee;
  --info: #5bb2ff;
  --info-foreground: #0b0e24;
  --blue-primary-50: #01022a;
  --blue-primary-100: #000350;
  --blue-primary-200: #00046a;
  --blue-primary-300: #000585;
  --blue-primary-400: #0006b1;
  --blue-primary-500: #001eff;
  --blue-primary-600: #007aff;
  --blue-primary-700: #54588b;
  --blue-primary-800: #d9ddff;
  --blue-primary-900: #e6e9ff;
  --blue-primary-950: #f9faff;
  --purple-secondary-50: #370958;
  --purple-secondary-100: #440b6d;
  --purple-secondary-200: #4c0b7c;
  --purple-secondary-300: #6a0dad;
  --purple-secondary-400: #7a22b5;
  --purple-secondary-500: #eab5ed;
  --purple-secondary-600: #fdddff;
  --purple-secondary-700: #fdecfe;
  --purple-secondary-800: #fef7ff;
}

@layer base {
  * {
    border-color: var(--border);
    outline-color: rgb(var(--ring) / 0.5);
  }
  body {
    letter-spacing: 0em;
    background-color: var(--background);
    color: var(--foreground);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-plus-jakarta-sans);
}

.fd-step::before {
  background-color: var(--primary) !important;
  color: var(--primary-foreground) !important;
}
