@import "tailwindcss";
@import "fumadocs-ui/css/shadcn.css";
@import "fumadocs-ui/css/preset.css";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

.header-xl {
  font-size: 72px;
  line-height: 90px;
  letter-spacing: -0.02em;
  font-family:
    var(--font-plus-jakarta-sans),
    Plus Jakarta Sans,
    system-ui,
    sans-serif;
}
.header-lg {
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.02em;
  font-family:
    var(--font-plus-jakarta-sans),
    Plus Jakarta Sans,
    system-ui,
    sans-serif;
}
.header-md {
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.02em;
  font-family:
    var(--font-plus-jakarta-sans),
    Plus Jakarta Sans,
    system-ui,
    sans-serif;
}
.header-sm {
  font-size: 30px;
  line-height: 38px;
  font-family:
    var(--font-plus-jakarta-sans),
    Plus Jakarta Sans,
    system-ui,
    sans-serif;
}
.header-xs {
  font-size: 24px;
  line-height: 32px;
  font-family:
    var(--font-plus-jakarta-sans),
    Plus Jakarta Sans,
    system-ui,
    sans-serif;
}

.paragraph-xl {
  font-size: 20px;
  line-height: 30px;
}
.paragraph-lg {
  font-size: 18px;
  line-height: 28px;
}
.paragraph-md {
  font-size: 16px;
  line-height: 24px;
}
.paragraph-sm {
  font-size: 14px;
  line-height: 20px;
}
.paragraph-xs {
  font-size: 12px;
  line-height: 18px;
}

@theme inline {
  --color-accent-blue-50: var(--accent-blue-50);
  --color-accent-flash-50: var(--accent-flash-50);
  --color-accent-green-50: var(--accent-green-50);
  --color-accent-magenta-50: var(--accent-magenta-50);
  --color-accent-red-50: var(--accent-red-50);
  --color-baby-blue-100: var(--baby-blue-100);
  --color-baby-blue-1000: var(--baby-blue-1000);
  --color-baby-blue-200: var(--baby-blue-200);
  --color-baby-blue-300: var(--baby-blue-300);
  --color-baby-blue-400: var(--baby-blue-400);
  --color-baby-blue-50: var(--baby-blue-50);
  --color-baby-blue-500: var(--baby-blue-500);
  --color-baby-blue-600: var(--baby-blue-600);
  --color-baby-blue-700: var(--baby-blue-700);
  --color-baby-blue-800: var(--baby-blue-800);
  --color-baby-blue-900: var(--baby-blue-900);
  --color-baby-blue-950: var(--baby-blue-950);
  --color-blue-primary-100: var(--blue-primary-100);
  --color-blue-primary-200: var(--blue-primary-200);
  --color-blue-primary-300: var(--blue-primary-300);
  --color-blue-primary-400: var(--blue-primary-400);
  --color-blue-primary-50: var(--blue-primary-50);
  --color-blue-primary-500: var(--blue-primary-500);
  --color-blue-primary-600: var(--blue-primary-600);
  --color-blue-primary-700: var(--blue-primary-700);
  --color-blue-primary-800: var(--blue-primary-800);
  --color-blue-primary-900: var(--blue-primary-900);
  --color-blue-primary-950: var(--blue-primary-950);
  --color-cyan-100: var(--cyan-100);
  --color-cyan-200: var(--cyan-200);
  --color-cyan-300: var(--cyan-300);
  --color-cyan-400: var(--cyan-400);
  --color-cyan-50: var(--cyan-50);
  --color-cyan-500: var(--cyan-500);
  --color-cyan-600: var(--cyan-600);
  --color-cyan-700: var(--cyan-700);
  --color-cyan-800: var(--cyan-800);
  --color-cyan-900: var(--cyan-900);
  --color-cyan-950: var(--cyan-950);
  --color-flashy-green-100: var(--flashy-green-100);
  --color-flashy-green-200: var(--flashy-green-200);
  --color-flashy-green-300: var(--flashy-green-300);
  --color-flashy-green-50: var(--flashy-green-50);
  --color-gray-100: var(--gray-100);
  --color-gray-1000: var(--gray-1000);
  --color-gray-200: var(--gray-200);
  --color-gray-300: var(--gray-300);
  --color-gray-400: var(--gray-400);
  --color-gray-50: var(--gray-50);
  --color-gray-500: var(--gray-500);
  --color-gray-600: var(--gray-600);
  --color-gray-700: var(--gray-700);
  --color-gray-800: var(--gray-800);
  --color-gray-900: var(--gray-900);
  --color-gray-950: var(--gray-950);
  --color-gray-blue-100: var(--gray-blue-100);
  --color-gray-blue-1000: var(--gray-blue-1000);
  --color-gray-blue-200: var(--gray-blue-200);
  --color-gray-blue-300: var(--gray-blue-300);
  --color-gray-blue-400: var(--gray-blue-400);
  --color-gray-blue-50: var(--gray-blue-50);
  --color-gray-blue-500: var(--gray-blue-500);
  --color-gray-blue-600: var(--gray-blue-600);
  --color-gray-blue-700: var(--gray-blue-700);
  --color-gray-blue-800: var(--gray-blue-800);
  --color-gray-blue-900: var(--gray-blue-900);
  --color-gray-blue-950: var(--gray-blue-950);
  --color-green-300: var(--green-300);
  --color-green-400: var(--green-400);
  --color-green-50: var(--green-50);
  --color-neutral-black: var(--neutral-black);
  --color-neutral-white: var(--neutral-white);
  --color-orange-100: var(--orange-100);
  --color-orange-200: var(--orange-200);
  --color-orange-300: var(--orange-300);
  --color-orange-400: var(--orange-400);
  --color-orange-50: var(--orange-50);
  --color-orange-500: var(--orange-500);
  --color-orange-600: var(--orange-600);
  --color-pink-100: var(--pink-100);
  --color-pink-200: var(--pink-200);
  --color-pink-300: var(--pink-300);
  --color-pink-400: var(--pink-400);
  --color-pink-50: var(--pink-50);
  --color-pink-500: var(--pink-500);
  --color-pink-600: var(--pink-600);
  --color-pink-700: var(--pink-700);
  --color-pink-800: var(--pink-800);
  --color-pink-900: var(--pink-900);
  --color-pink-950: var(--pink-950);
  --color-purple-secondary-100: var(--purple-secondary-100);
  --color-purple-secondary-200: var(--purple-secondary-200);
  --color-purple-secondary-300: var(--purple-secondary-300);
  --color-purple-secondary-400: var(--purple-secondary-400);
  --color-purple-secondary-50: var(--purple-secondary-50);
  --color-purple-secondary-500: var(--purple-secondary-500);
  --color-purple-secondary-600: var(--purple-secondary-600);
  --color-purple-secondary-700: var(--purple-secondary-700);
  --color-purple-secondary-800: var(--purple-secondary-800);
  --color-purple-secondary-900: var(--purple-secondary-900);
  --color-purple-secondary-950: var(--purple-secondary-950);
  --color-red-100: var(--red-100);
  --color-red-200: var(--red-200);
  --color-red-50: var(--red-50);
  --color-yellow-100: var(--yellow-100);
  --color-yellow-200: var(--yellow-200);
  --color-yellow-50: var(--yellow-50);

  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
  --color-error: var(--error);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-info: var(--info);
  --color-info-foreground: var(--info-foreground);

  --color-white: var(--neutral-white);
  --color-black: var(--neutral-black);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-surface: var(--surface);
  --color-surface-foreground: var(--surface-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --color-fd-background: var(--background);
  --color-fd-foreground: var(--foreground);
  --color-fd-muted: var(--muted);
  --color-fd-muted-foreground: var(--muted-foreground);
  --color-fd-popover: var(--popover);
  --color-fd-popover-foreground: var(--popover-foreground);
  --color-fd-card: var(--card);
  --color-fd-card-foreground: var(--card-foreground);
  --color-fd-border: var(--border);
  --color-fd-primary: var(--primary);
  --color-fd-primary-foreground: var(--primary-foreground);
  --color-fd-secondary: var(--secondary);
  --color-fd-secondary-foreground: var(--secondary-foreground);
  --color-fd-accent: var(--accent);
  --color-fd-accent-foreground: var(--accent-foreground);
  --color-fd-ring: var(--ring);

  --radius-sm: var(--radius-sm);
  --radius-md: var(--radius-md);
  --radius-lg: var(--radius-lg);
  --radius-xl: var(--radius-xl);
  --radius-2xl: var(--radius-2xl);

  --shadow-xs: 0 1px 4px 0px hsl(0 0% 0% / 0.04);
  --shadow-sm: 0 4px 12px -4px hsl(0 0% 0% / 0.08);
  --shadow-md: 0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0 10px 15px -3px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0 16px 20px -5px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 20px 25px -5px hsl(0 0% 0% / 0.1);
  --shadow-3xl: 0 25px 50px -12px hsl(0 0% 0% / 0.12);

  --blur-sm: 2px;
  --blur-md: 4px;
  --blur-lg: 7px;
  --blur-xl: 9px;

  --font-dm-sans: var(--font-dm-sans);
  --font-plus-jakarta-sans: var(--font-plus-jakarta-sans);
}

:root {
  --accent-blue-50: #0066ff;
  --accent-flash-50: #ffff00;
  --accent-green-50: #00cc00;
  --accent-magenta-50: #cc00cc;
  --accent-red-50: #ff3333;
  --baby-blue-100: #91c5ff;
  --baby-blue-1000: #000350;
  --baby-blue-200: #3a81f6;
  --baby-blue-300: #007aff;
  --baby-blue-400: #2563ef;
  --baby-blue-50: #f0f0f3;
  --baby-blue-500: #1a4eda;
  --baby-blue-600: #1f3fad;
  --baby-blue-700: #001eff;
  --baby-blue-800: #0006b1;
  --baby-blue-900: #000585;
  --baby-blue-950: #00046a;
  --blue-primary-100: #f9faff;
  --blue-primary-200: #e6e9ff;
  --blue-primary-300: #d9ddff;
  --blue-primary-400: #54588b;
  --blue-primary-50: #fafafa;
  --blue-primary-500: #1e1b4b;
  --blue-primary-600: #171447;
  --blue-primary-700: #0b0e24;
  --blue-primary-800: #0f172a;
  --blue-primary-900: #121824;
  --blue-primary-950: #0e0e0f;
  --cyan-100: #b2e1eb;
  --cyan-200: #8acfd1;
  --cyan-300: #84d2e2;
  --cyan-400: #50afb6;
  --cyan-50: #ecfeff;
  --cyan-500: #00d3ff;
  --cyan-600: #00b8cc;
  --cyan-700: #0092b8;
  --cyan-800: #175c6c;
  --cyan-900: #324859;
  --cyan-950: #20333d;
  --flashy-green-100: #e6e9ff;
  --flashy-green-200: #beffd4;
  --flashy-green-300: #34d399;
  --flashy-green-50: #f9faff;
  --gray-100: #cccccc;
  --gray-1000: #1a1a1a;
  --gray-200: #a1a1a1;
  --gray-300: #676767;
  --gray-400: #5d5e61;
  --gray-50: #d1d5db;
  --gray-500: #454749;
  --gray-600: #333333;
  --gray-700: #343434;
  --gray-800: #2e3133;
  --gray-900: #262626;
  --gray-950: #171717;
  --gray-blue-100: #6b7280;
  --gray-blue-1000: #0a0a0a;
  --gray-blue-200: #4b5563;
  --gray-blue-300: #374151;
  --gray-blue-400: #2d3748;
  --gray-blue-50: #f0f0f0;
  --gray-blue-500: #272e37;
  --gray-blue-600: #24272b;
  --gray-blue-700: #19212e;
  --gray-blue-800: #1e293b;
  --gray-blue-900: #141c27;
  --gray-blue-950: #191c1e;
  --green-300: #22c55e;
  --green-400: #25c059;
  --green-50: #e6f9ee;
  --neutral-black: #000000;
  --neutral-white: #ffffff;
  --orange-100: #ffe9d9;
  --orange-200: #ffd1b0;
  --orange-300: #e65f00;
  --orange-400: #ff6900;
  --orange-50: #fff7ed;
  --orange-500: #cc5400;
  --orange-600: #bd5104;
  --pink-100: #f3e3ea;
  --pink-200: #eab5ed;
  --pink-300: #f9a8d4;
  --pink-400: #f3a0ca;
  --pink-50: #e4e4e4;
  --pink-500: #e4a2b1;
  --pink-600: #c67b96;
  --pink-700: #b4728f;
  --pink-800: #e670ab;
  --pink-900: #d04f99;
  --pink-950: #d7488e;
  --purple-secondary-100: #fdecfe;
  --purple-secondary-200: #fdddff;
  --purple-secondary-300: #c4b5fd;
  --purple-secondary-400: #8b5cf6;
  --purple-secondary-50: #fef7ff;
  --purple-secondary-500: #4916a1;
  --purple-secondary-600: #6a0dad;
  --purple-secondary-700: #4c0b7c;
  --purple-secondary-800: #440b6d;
  --purple-secondary-900: #370958;
  --purple-secondary-950: #2e1065;
  --red-100: #f96f70;
  --red-200: #e7000b;
  --red-50: #ffedee;
  --yellow-100: #fbe2a7;
  --yellow-200: #facc15;
  --yellow-50: #fdf6e3;
}

.dark {
  --accent-blue-50: #0066ff;
  --accent-flash-50: #ffff00;
  --accent-green-50: #00cc00;
  --accent-magenta-50: #cc00cc;
  --accent-red-50: #ff3333;
  --baby-blue-100: #91c5ff;
  --baby-blue-1000: #000350;
  --baby-blue-200: #3a81f6;
  --baby-blue-300: #007aff;
  --baby-blue-400: #2563ef;
  --baby-blue-50: #f0f0f3;
  --baby-blue-500: #1a4eda;
  --baby-blue-600: #1f3fad;
  --baby-blue-700: #001eff;
  --baby-blue-800: #0006b1;
  --baby-blue-900: #000585;
  --baby-blue-950: #00046a;
  --blue-primary-100: #f9faff;
  --blue-primary-200: #e6e9ff;
  --blue-primary-300: #d9ddff;
  --blue-primary-400: #54588b;
  --blue-primary-50: #fafafa;
  --blue-primary-500: #1e1b4b;
  --blue-primary-600: #171447;
  --blue-primary-700: #0b0e24;
  --blue-primary-800: #0f172a;
  --blue-primary-900: #121824;
  --blue-primary-950: #0e0e0f;
  --cyan-100: #b2e1eb;
  --cyan-200: #8acfd1;
  --cyan-300: #84d2e2;
  --cyan-400: #50afb6;
  --cyan-50: #ecfeff;
  --cyan-500: #00d3ff;
  --cyan-600: #00b8cc;
  --cyan-700: #0092b8;
  --cyan-800: #175c6c;
  --cyan-900: #324859;
  --cyan-950: #20333d;
  --flashy-green-100: #e6e9ff;
  --flashy-green-200: #beffd4;
  --flashy-green-300: #34d399;
  --flashy-green-50: #f9faff;
  --gray-100: #cccccc;
  --gray-1000: #1a1a1a;
  --gray-200: #a1a1a1;
  --gray-300: #676767;
  --gray-400: #5d5e61;
  --gray-50: #d1d5db;
  --gray-500: #454749;
  --gray-600: #333333;
  --gray-700: #343434;
  --gray-800: #2e3133;
  --gray-900: #262626;
  --gray-950: #171717;
  --gray-blue-100: #6b7280;
  --gray-blue-1000: #0a0a0a;
  --gray-blue-200: #4b5563;
  --gray-blue-300: #374151;
  --gray-blue-400: #2d3748;
  --gray-blue-50: #f0f0f0;
  --gray-blue-500: #272e37;
  --gray-blue-600: #24272b;
  --gray-blue-700: #19212e;
  --gray-blue-800: #1e293b;
  --gray-blue-900: #141c27;
  --gray-blue-950: #191c1e;
  --green-300: #22c55e;
  --green-400: #25c059;
  --green-50: #e6f9ee;
  --neutral-black: #000000;
  --neutral-white: #ffffff;
  --orange-100: #ffe9d9;
  --orange-200: #ffd1b0;
  --orange-300: #e65f00;
  --orange-400: #ff6900;
  --orange-50: #fff7ed;
  --orange-500: #cc5400;
  --orange-600: #bd5104;
  --pink-100: #f3e3ea;
  --pink-200: #eab5ed;
  --pink-300: #f9a8d4;
  --pink-400: #f3a0ca;
  --pink-50: #e4e4e4;
  --pink-500: #e4a2b1;
  --pink-600: #c67b96;
  --pink-700: #b4728f;
  --pink-800: #e670ab;
  --pink-900: #d04f99;
  --pink-950: #d7488e;
  --purple-secondary-100: #fdecfe;
  --purple-secondary-200: #fdddff;
  --purple-secondary-300: #c4b5fd;
  --purple-secondary-400: #8b5cf6;
  --purple-secondary-50: #fef7ff;
  --purple-secondary-500: #4916a1;
  --purple-secondary-600: #6a0dad;
  --purple-secondary-700: #4c0b7c;
  --purple-secondary-800: #440b6d;
  --purple-secondary-900: #370958;
  --purple-secondary-950: #2e1065;
  --red-100: #f96f70;
  --red-200: #e7000b;
  --red-50: #ffedee;
  --yellow-100: #fbe2a7;
  --yellow-200: #facc15;
  --yellow-50: #fdf6e3;
}

/* 1. PRIMARY THEME (Default Fallback) */
:root,
[data-theme="primary"] {
  --background: var(--neutral-white);
  --foreground: var(--baby-blue-1000);
  --primary: var(--baby-blue-800);
  --primary-foreground: var(--neutral-white);
  --secondary: var(--blue-primary-200);
  --secondary-foreground: var(--baby-blue-900);
  --accent: var(--cyan-50);
  --accent-foreground: var(--cyan-700);
  --card: var(--neutral-white);
  --card-foreground: var(--blue-primary-500);
  --popover: var(--neutral-white);
  --popover-foreground: var(--baby-blue-1000);
  --muted: var(--blue-primary-100);
  --muted-foreground: var(--blue-primary-400);
  --destructive: var(--red-200);
  --destructive-foreground: var(--red-50);
  --border: var(--blue-primary-200);
  --input: var(--blue-primary-100);
  --ring: var(--blue-primary-300);
  --surface: var(--background);
  --surface-foreground: var(--foreground);
  --chart-1: var(--baby-blue-100);
  --chart-2: var(--baby-blue-200);
  --chart-3: var(--baby-blue-400);
  --chart-4: var(--baby-blue-500);
  --chart-5: var(--baby-blue-600);
  --sidebar: var(--blue-primary-100);
  --sidebar-foreground: var(--blue-primary-500);
  --sidebar-primary: var(--baby-blue-800);
  --sidebar-primary-foreground: var(--neutral-white);
  --sidebar-accent: var(--blue-primary-200);
  --sidebar-accent-foreground: var(--blue-primary-500);
  --sidebar-border: var(--blue-primary-200);
  --sidebar-ring: var(--blue-primary-300);
  --success: var(--green-300);
  --success-foreground: var(--green-50);
  --warning: var(--orange-400);
  --warning-foreground: var(--orange-50);
  --error: var(--red-200);
  --info: var(--baby-blue-400);
  --info-foreground: var(--red-50);
  --radius-sm: 0.25rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-2xl: 0.75rem;
}
.dark,
.dark[data-theme="primary"] {
  --background: var(--gray-blue-1000);
  --foreground: var(--blue-primary-50);
  --primary: var(--blue-primary-300);
  --primary-foreground: var(--baby-blue-1000);
  --secondary: var(--gray-900);
  --secondary-foreground: var(--blue-primary-50);
  --accent: var(--gray-blue-1000);
  --accent-foreground: var(--blue-primary-50);
  --card: var(--gray-950);
  --card-foreground: var(--blue-primary-50);
  --popover: var(--gray-blue-1000);
  --popover-foreground: var(--blue-primary-50);
  --muted: var(--gray-900);
  --muted-foreground: var(--gray-200);
  --destructive: var(--red-200);
  --destructive-foreground: var(--red-50);
  --border: var(--gray-900);
  --input: var(--gray-700);
  --ring: var(--blue-primary-300);
  --surface: var(--background);
  --surface-foreground: var(--foreground);
  --chart-1: var(--baby-blue-100);
  --chart-2: var(--baby-blue-200);
  --chart-3: var(--baby-blue-400);
  --chart-4: var(--baby-blue-500);
  --chart-5: var(--baby-blue-600);
  --sidebar: var(--gray-950);
  --sidebar-foreground: var(--blue-primary-50);
  --sidebar-primary: var(--blue-primary-300);
  --sidebar-primary-foreground: var(--baby-blue-1000);
  --sidebar-accent: var(--baby-blue-1000);
  --sidebar-accent-foreground: var(--blue-primary-50);
  --sidebar-border: var(--gray-900);
  --sidebar-ring: var(--blue-primary-300);
  --success: var(--green-300);
  --success-foreground: var(--green-50);
  --warning: var(--orange-400);
  --warning-foreground: var(--orange-50);
  --error: var(--red-200);
  --info: var(--baby-blue-400);
  --info-foreground: var(--blue-primary-50);
  --radius-sm: 0.25rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-2xl: 0.75rem;
}

/* 2. SECONDARY THEME */
[data-theme="secondary"] {
  --background: var(--neutral-white);
  --foreground: var(--purple-secondary-900);
  --primary: var(--purple-secondary-600);
  --primary-foreground: var(--neutral-white);
  --secondary: var(--purple-secondary-200);
  --secondary-foreground: var(--purple-secondary-700);
  --accent: var(--orange-50);
  --accent-foreground: var(--orange-400);
  --card: var(--neutral-white);
  --card-foreground: var(--purple-secondary-800);
  --popover: var(--neutral-white);
  --popover-foreground: var(--purple-secondary-900);
  --muted: var(--purple-secondary-50);
  --muted-foreground: var(--purple-secondary-300);
  --destructive: var(--red-200);
  --destructive-foreground: var(--red-50);
  --border: var(--purple-secondary-100);
  --input: var(--purple-secondary-50);
  --ring: var(--pink-200);
  --surface: var(--background);
  --surface-foreground: var(--foreground);
  --chart-1: var(--orange-100);
  --chart-2: var(--orange-200);
  --chart-3: var(--orange-400);
  --chart-4: var(--orange-300);
  --chart-5: var(--orange-500);
  --sidebar: var(--purple-secondary-50);
  --sidebar-foreground: var(--purple-secondary-800);
  --sidebar-primary: var(--purple-secondary-600);
  --sidebar-primary-foreground: var(--neutral-white);
  --sidebar-accent: var(--purple-secondary-200);
  --sidebar-accent-foreground: var(--purple-secondary-800);
  --sidebar-border: var(--purple-secondary-100);
  --sidebar-ring: var(--pink-200);
  --success: var(--green-300);
  --success-foreground: var(--green-50);
  --warning: var(--orange-400);
  --warning-foreground: var(--orange-50);
  --error: var(--red-200);
  --info: var(--baby-blue-400);
  --info-foreground: var(--red-50);
  --radius-sm: 0.25rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-2xl: 0.75rem;
}
.dark[data-theme="secondary"] {
  --background: var(--blue-primary-800);
  --foreground: var(--blue-primary-200);
  --primary: var(--purple-secondary-400);
  --primary-foreground: var(--neutral-white);
  --secondary: var(--blue-primary-500);
  --secondary-foreground: var(--blue-primary-200);
  --accent: var(--orange-600);
  --accent-foreground: var(--orange-50);
  --card: var(--blue-primary-500);
  --card-foreground: var(--blue-primary-200);
  --popover: var(--blue-primary-800);
  --popover-foreground: var(--blue-primary-200);
  --muted: var(--blue-primary-600);
  --muted-foreground: var(--purple-secondary-300);
  --destructive: var(--red-200);
  --destructive-foreground: var(--red-50);
  --border: var(--purple-secondary-500);
  --input: var(--purple-secondary-950);
  --ring: var(--purple-secondary-400);
  --surface: var(--background);
  --surface-foreground: var(--foreground);
  --chart-1: var(--orange-100);
  --chart-2: var(--orange-200);
  --chart-3: var(--orange-400);
  --chart-4: var(--orange-300);
  --chart-5: var(--orange-500);
  --sidebar: var(--blue-primary-800);
  --sidebar-foreground: var(--blue-primary-200);
  --sidebar-primary: var(--purple-secondary-400);
  --sidebar-primary-foreground: var(--neutral-white);
  --sidebar-accent: var(--orange-600);
  --sidebar-accent-foreground: var(--orange-50);
  --sidebar-border: var(--purple-secondary-500);
  --sidebar-ring: var(--purple-secondary-400);
  --success: var(--green-300);
  --success-foreground: var(--green-50);
  --warning: var(--orange-400);
  --warning-foreground: var(--orange-50);
  --error: var(--red-200);
  --info: var(--baby-blue-400);
  --info-foreground: var(--blue-primary-200);
  --radius-sm: 0.25rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-2xl: 0.75rem;
}

/* 3. GAME-DEV THEME */
[data-theme="game-dev"] {
  --background: var(--yellow-50);
  --foreground: var(--gray-800);
  --primary: var(--pink-900);
  --primary-foreground: var(--neutral-white);
  --secondary: var(--yellow-200);
  --secondary-foreground: var(--gray-blue-950);
  --accent: var(--gray-blue-950);
  --accent-foreground: var(--cyan-200);
  --card: var(--yellow-100);
  --card-foreground: var(--gray-500);
  --popover: var(--yellow-50);
  --popover-foreground: var(--gray-800);
  --muted: var(--cyan-100);
  --muted-foreground: var(--gray-400);
  --destructive: var(--red-100);
  --destructive-foreground: var(--neutral-white);
  --border: var(--pink-900);
  --input: var(--pink-50);
  --ring: var(--pink-800);
  --surface: var(--background);
  --surface-foreground: var(--foreground);
  --chart-1: var(--pink-800);
  --chart-2: var(--cyan-300);
  --chart-3: var(--yellow-100);
  --chart-4: var(--pink-400);
  --chart-5: var(--pink-950);
  --sidebar: var(--yellow-50);
  --sidebar-foreground: var(--gray-blue-950);
  --sidebar-primary: var(--pink-900);
  --sidebar-primary-foreground: var(--neutral-white);
  --sidebar-accent: var(--pink-300);
  --sidebar-accent-foreground: var(--gray-blue-950);
  --sidebar-border: var(--pink-900);
  --sidebar-ring: var(--pink-800);
  --success: var(--green-300);
  --success-foreground: var(--green-50);
  --warning: var(--orange-400);
  --warning-foreground: var(--orange-50);
  --error: var(--red-200);
  --info: var(--baby-blue-400);
  --info-foreground: var(--red-50);
  --radius-sm: 0.25rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
}
.dark[data-theme="game-dev"] {
  --background: var(--gray-blue-900);
  --foreground: var(--pink-100);
  --primary: var(--yellow-100);
  --primary-foreground: var(--gray-blue-900);
  --secondary: var(--pink-500);
  --secondary-foreground: var(--gray-blue-900);
  --accent: var(--pink-700);
  --accent-foreground: var(--pink-100);
  --card: var(--blue-primary-900);
  --card-foreground: var(--pink-100);
  --popover: var(--gray-blue-900);
  --popover-foreground: var(--pink-100);
  --muted: var(--gray-blue-500);
  --muted-foreground: var(--pink-500);
  --destructive: var(--red-100);
  --destructive-foreground: var(--neutral-white);
  --border: var(--cyan-900);
  --input: var(--cyan-950);
  --ring: var(--cyan-400);
  --surface: var(--background);
  --surface-foreground: var(--foreground);
  --chart-1: var(--cyan-400);
  --chart-2: var(--pink-500);
  --chart-3: var(--pink-600);
  --chart-4: var(--cyan-800);
  --chart-5: var(--gray-blue-600);
  --sidebar: var(--gray-blue-900);
  --sidebar-foreground: var(--pink-100);
  --sidebar-primary: var(--yellow-100);
  --sidebar-primary-foreground: var(--gray-blue-900);
  --sidebar-accent: var(--pink-700);
  --sidebar-accent-foreground: var(--pink-100);
  --sidebar-border: var(--cyan-900);
  --sidebar-ring: var(--cyan-400);
  --success: var(--green-300);
  --success-foreground: var(--green-50);
  --warning: var(--orange-400);
  --warning-foreground: var(--orange-50);
  --error: var(--red-200);
  --info: var(--baby-blue-400);
  --info-foreground: var(--pink-100);
  --radius-sm: 0.25rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
}

/* 4. ROBOTICS THEME */
[data-theme="robotics"] {
  --background: var(--neutral-white);
  --foreground: var(--neutral-black);
  --primary: var(--baby-blue-700);
  --primary-foreground: var(--neutral-white);
  --secondary: var(--baby-blue-800);
  --secondary-foreground: var(--neutral-white);
  --accent: var(--cyan-500);
  --accent-foreground: var(--blue-primary-700);
  --card: var(--neutral-white);
  --card-foreground: var(--neutral-black);
  --popover: var(--neutral-white);
  --popover-foreground: var(--neutral-black);
  --muted: var(--gray-blue-50);
  --muted-foreground: var(--gray-600);
  --destructive: var(--red-200);
  --destructive-foreground: var(--neutral-white);
  --border: var(--neutral-black);
  --input: var(--neutral-white);
  --ring: var(--cyan-500);
  --surface: var(--background);
  --surface-foreground: var(--foreground);
  --chart-1: var(--accent-red-50);
  --chart-2: var(--accent-flash-50);
  --chart-3: var(--accent-blue-50);
  --chart-4: var(--accent-green-50);
  --chart-5: var(--accent-magenta-50);
  --sidebar: var(--gray-blue-50);
  --sidebar-foreground: var(--neutral-black);
  --sidebar-primary: var(--baby-blue-700);
  --sidebar-primary-foreground: var(--neutral-white);
  --sidebar-accent: var(--cyan-500);
  --sidebar-accent-foreground: var(--blue-primary-700);
  --sidebar-border: var(--neutral-black);
  --sidebar-ring: var(--cyan-500);
  --success: var(--green-300);
  --success-foreground: var(--green-50);
  --warning: var(--orange-400);
  --warning-foreground: var(--orange-50);
  --error: var(--red-200);
  --info: var(--baby-blue-400);
  --info-foreground: var(--neutral-white);
  --radius-sm: 0.125rem;
  --radius-md: 0.125rem;
  --radius-lg: 0.25rem;
  --radius-xl: 0.25rem;
  --radius-2xl: 0.25rem;
}
.dark[data-theme="robotics"] {
  --background: var(--neutral-black);
  --foreground: var(--neutral-white);
  --primary: var(--baby-blue-400);
  --primary-foreground: var(--neutral-white);
  --secondary: var(--baby-blue-700);
  --secondary-foreground: var(--neutral-white);
  --accent: var(--cyan-600);
  --accent-foreground: var(--neutral-white);
  --card: var(--gray-900);
  --card-foreground: var(--neutral-white);
  --popover: var(--neutral-black);
  --popover-foreground: var(--neutral-white);
  --muted: var(--gray-1000);
  --muted-foreground: var(--gray-100);
  --destructive: var(--red-200);
  --destructive-foreground: var(--neutral-white);
  --border: var(--gray-300);
  --input: var(--gray-300);
  --ring: var(--cyan-600);
  --surface: var(--background);
  --surface-foreground: var(--foreground);
  --chart-1: var(--accent-red-50);
  --chart-2: var(--accent-flash-50);
  --chart-3: var(--accent-blue-50);
  --chart-4: var(--accent-green-50);
  --chart-5: var(--accent-magenta-50);
  --sidebar: var(--neutral-black);
  --sidebar-foreground: var(--neutral-white);
  --sidebar-primary: var(--baby-blue-400);
  --sidebar-primary-foreground: var(--neutral-white);
  --sidebar-accent: var(--cyan-600);
  --sidebar-accent-foreground: var(--neutral-white);
  --sidebar-border: var(--gray-300);
  --sidebar-ring: var(--cyan-600);
  --success: var(--green-300);
  --success-foreground: var(--green-50);
  --warning: var(--orange-400);
  --warning-foreground: var(--orange-50);
  --error: var(--red-200);
  --info: var(--baby-blue-400);
  --info-foreground: var(--neutral-white);
  --radius-sm: 0.125rem;
  --radius-md: 0.125rem;
  --radius-lg: 0.25rem;
  --radius-xl: 0.25rem;
  --radius-2xl: 0.25rem;
}

/* 5. IT THEME */
[data-theme="it"] {
  --background: var(--neutral-white);
  --foreground: var(--gray-blue-300);
  --primary: var(--flashy-green-300);
  --primary-foreground: var(--neutral-white);
  --secondary: #e0f2fe;
  --secondary-foreground: var(--gray-blue-200);
  --accent: var(--flashy-green-200);
  --accent-foreground: var(--gray-blue-300);
  --card: var(--neutral-white);
  --card-foreground: var(--gray-blue-300);
  --popover: var(--neutral-white);
  --popover-foreground: var(--gray-blue-300);
  --muted: var(--baby-blue-50);
  --muted-foreground: var(--gray-blue-100);
  --destructive: var(--red-200);
  --destructive-foreground: var(--neutral-white);
  --border: #e5e7eb;
  --input: var(--neutral-white);
  --ring: var(--flashy-green-300);
  --surface: var(--background);
  --surface-foreground: var(--foreground);
  --chart-1: var(--baby-blue-100);
  --chart-2: var(--baby-blue-200);
  --chart-3: var(--baby-blue-400);
  --chart-4: var(--baby-blue-500);
  --chart-5: var(--baby-blue-600);
  --sidebar: var(--neutral-white);
  --sidebar-foreground: var(--gray-blue-300);
  --sidebar-primary: var(--flashy-green-300);
  --sidebar-primary-foreground: var(--neutral-white);
  --sidebar-accent: var(--flashy-green-200);
  --sidebar-accent-foreground: var(--gray-blue-300);
  --sidebar-border: #e5e7eb;
  --sidebar-ring: var(--flashy-green-300);
  --success: var(--green-300);
  --success-foreground: var(--green-50);
  --warning: var(--orange-400);
  --warning-foreground: var(--orange-50);
  --error: var(--red-200);
  --info: var(--baby-blue-400);
  --info-foreground: var(--neutral-white);
  --radius-sm: 0.25rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-2xl: 0.75rem;
}
.dark[data-theme="it"] {
  --background: var(--blue-primary-800);
  --foreground: var(--gray-50);
  --primary: var(--flashy-green-300);
  --primary-foreground: var(--blue-primary-800);
  --secondary: var(--gray-blue-400);
  --secondary-foreground: var(--gray-200);
  --accent: var(--gray-blue-300);
  --accent-foreground: var(--gray-200);
  --card: var(--gray-blue-800);
  --card-foreground: var(--gray-50);
  --popover: var(--blue-primary-800);
  --popover-foreground: var(--gray-50);
  --muted: var(--gray-blue-700);
  --muted-foreground: var(--gray-blue-100);
  --destructive: var(--red-200);
  --destructive-foreground: var(--neutral-white);
  --border: var(--gray-blue-200);
  --input: var(--gray-blue-200);
  --ring: var(--flashy-green-300);
  --surface: var(--background);
  --surface-foreground: var(--foreground);
  --chart-1: var(--baby-blue-100);
  --chart-2: var(--baby-blue-200);
  --chart-3: var(--baby-blue-400);
  --chart-4: var(--baby-blue-500);
  --chart-5: var(--baby-blue-600);
  --sidebar: var(--baby-blue-50);
  --sidebar-foreground: var(--blue-primary-950);
  --sidebar-primary: var(--flashy-green-300);
  --sidebar-primary-foreground: var(--blue-primary-800);
  --sidebar-accent: var(--baby-blue-50);
  --sidebar-accent-foreground: var(--gray-blue-700);
  --sidebar-border: var(--gray-blue-200);
  --sidebar-ring: var(--flashy-green-300);
  --success: var(--green-300);
  --success-foreground: var(--green-50);
  --warning: var(--orange-400);
  --warning-foreground: var(--orange-50);
  --error: var(--red-200);
  --info: var(--baby-blue-400);
  --info-foreground: var(--gray-50);
  --radius-sm: 0.25rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-2xl: 0.75rem;
}

.fd-step::before {
  background-color: var(--primary) !important;
  color: var(--primary-foreground) !important;
}

@layer base {
  * {
    border-color: var(--border);
    outline-color: rgb(var(--ring) / 0.5);
  }
  body {
    letter-spacing: 0em;
    background-color: var(--background);
    color: var(--foreground);
    font-family:
      var(--font-dm-sans),
      DM Sans,
      system-ui,
      sans-serif;
  }
}
